.ta_yebu_ya{
	width: 400px;
	color: blue;
	text-align: center;
}
h2{
	font-size: 15px;
}

p{
	text-align: justify;
	text-indent: 40px;
	background-color: #f7efef;
	line-height: 30px;
	width: 400px;
	font-size: 16px;
}

em{
	font-style: cursor;
	color: blue;
}

b{
	font-weight: 600;
	color: red;
}

